USE [master]
GO
/****** Object:  Database [AcademixDB]    Script Date: 9/22/2026 8:11:59 PM ******/
CREATE DATABASE [AcademixDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcademixDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcademixDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcademixDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcademixDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcademixDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcademixDB]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ClassId] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FilePath] [nvarchar](500) NULL,
	[Marks] [int] NOT NULL,
	[Deadline] [datetime] NOT NULL,
	[IsPublish] [bit] NOT NULL,
	[AssignmentGuid] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[SubjectId] [bigint] NOT NULL,
	[Section] [nvarchar](10) NOT NULL,
	[AcademicYear] [nvarchar](10) NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[ClassGuid] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEnrollments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NOT NULL,
	[ClassId] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StudentEnrollments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AspNetUserId] [nvarchar](450) NOT NULL,
	[StudentCode] [nvarchar](30) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[StudentGuid] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AssignmentId] [bigint] NOT NULL,
	[StudentId] [bigint] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[Marks] [decimal](5, 2) NULL,
	[Feedback] [nvarchar](max) NULL,
	[SubmissionGuid] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherEnrollments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TeacherId] [bigint] NOT NULL,
	[ClassId] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TeacherEnrollments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AspNetUserId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[ProfileImage] [nvarchar](400) NULL,
	[TeacherGuid] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](450) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'4DC0FD81-169D-4BBC-A98A-0345DE775A4A', N'Admin', N'ADMIN', N'92A4C1EF-4F67-4004-80C3-C9DC4064E458')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'9A85F075-CDB5-4098-838F-B8D461C83802', N'Teacher', N'TEACHER', N'AC72D815-B8EC-4902-9D1A-A9F9A5DB355A')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'DCADF916-BD12-4A68-B834-30DE30571A1D', N'Student', N'STUDENT', N'B11CBDCF-13CA-4707-BE03-8AF79A971A64')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'058B9B0D-756A-433C-8C85-535AD1C34487', N'4DC0FD81-169D-4BBC-A98A-0345DE775A4A')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'09FC4781-4C50-4CA8-8562-C139DEB304E7', N'DCADF916-BD12-4A68-B834-30DE30571A1D')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0DCAAE67-8A35-46E7-A533-073B6E861EC2', N'DCADF916-BD12-4A68-B834-30DE30571A1D')
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([Id], [ClassName], [SubjectId], [Section], [AcademicYear], [MaxCapacity], [ClassGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Class 10 - BAN', 1, N'A', N'2026', 15, N'4fcf0c82-00f7-453b-a5a8-93ca842315f9', CAST(N'2026-09-09T20:43:53.210' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
INSERT [dbo].[Classes] ([Id], [ClassName], [SubjectId], [Section], [AcademicYear], [MaxCapacity], [ClassGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Class 10 - BAN', 1, N'B', N'2026', 15, N'7a8e85c8-ef38-402e-89e2-9d575908062e', CAST(N'2026-09-09T20:44:05.763' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentEnrollments] ON 

INSERT [dbo].[StudentEnrollments] ([Id], [StudentId], [ClassId], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (1, 1, 1, CAST(N'2026-09-09T20:45:43.027' AS DateTime), NULL, 1)
INSERT [dbo].[StudentEnrollments] ([Id], [StudentId], [ClassId], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (2, 2, 1, CAST(N'2026-09-09T20:45:58.303' AS DateTime), NULL, 1)
INSERT [dbo].[StudentEnrollments] ([Id], [StudentId], [ClassId], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (3, 3, 1, CAST(N'2026-09-09T20:46:12.540' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[StudentEnrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [AspNetUserId], [StudentCode], [FullName], [Gender], [StudentGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'4B7F05BC-E5F3-4029-97E7-0831614667CC', N'STD001', N'student1', N'Male', N'3e0efaf6-0e6c-408e-9e87-09ed4ff5b962', CAST(N'2026-08-16T12:04:16.457' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
INSERT [dbo].[Students] ([Id], [AspNetUserId], [StudentCode], [FullName], [Gender], [StudentGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'861150E0-2FF9-4385-A709-E954759ECDD1', N'STD002', N'student2', N'Female', N'21a3e846-b71b-4dd1-8969-b26cc847a43a', CAST(N'2026-08-16T12:04:16.457' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
INSERT [dbo].[Students] ([Id], [AspNetUserId], [StudentCode], [FullName], [Gender], [StudentGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'3DEAB891-EA53-4599-AB8B-896DBF767D3F', N'STD003', N'student3', N'Male', N'5eb3cfc7-df42-43ac-a2be-8c0e41fb0b5f', CAST(N'2026-08-16T12:04:16.457' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Bangla', CAST(N'2026-08-16T12:04:16.467' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'English', CAST(N'2026-08-16T12:04:16.467' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Math', CAST(N'2026-08-16T12:04:16.467' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherEnrollments] ON 

INSERT [dbo].[TeacherEnrollments] ([Id], [TeacherId], [ClassId], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (1, 1, 1, CAST(N'2026-09-09T20:44:26.790' AS DateTime), NULL, 1)
INSERT [dbo].[TeacherEnrollments] ([Id], [TeacherId], [ClassId], [CreatedDate], [ModifiedDate], [IsActive]) VALUES (2, 2, 2, CAST(N'2026-09-09T20:44:32.623' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[TeacherEnrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [AspNetUserId], [FullName], [Gender], [Department], [ProfileImage], [TeacherGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'D53254FD-84C1-4F4C-9974-754E3C97454A', N'teacher1', N'Male', N'Bangla', NULL, N'51fa900a-8155-4e9a-a868-2bb758bfa290', CAST(N'2026-08-16T12:04:16.453' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
INSERT [dbo].[Teachers] ([Id], [AspNetUserId], [FullName], [Gender], [Department], [ProfileImage], [TeacherGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'8C60C94D-5611-4FC8-8B79-66050696E059', N'teacher2', N'Female', N'Bangla', NULL, N'586fac50-e35b-4287-9f63-50af2cbe312c', CAST(N'2026-08-16T12:04:16.457' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
INSERT [dbo].[Teachers] ([Id], [AspNetUserId], [FullName], [Gender], [Department], [ProfileImage], [TeacherGuid], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'B7E06F6D-1AB1-4B69-BC5C-A635E8A6A61B', N'teacher3', N'Male', N'English', NULL, N'9df2c3f6-9124-4dda-8baf-526bff59323d', CAST(N'2026-08-16T12:04:16.457' AS DateTime), N'058B9B0D-756A-433C-8C85-535AD1C34487', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [UserType]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[usp_CheckAStudentClassEnrollCapacity]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CheckAStudentClassEnrollCapacity]
	@ClassGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @MaximumCapacity INT;
	DECLARE @EnrolledStudent INT;

	-- Set decleared variables value
	SELECT @MaximumCapacity = MaxCapacity FROM [dbo].[Classes] WHERE ClassGuid = @ClassGuid;

	SELECT @EnrolledStudent = COUNT(E.ClassId)
	FROM [dbo].[StudentEnrollments] AS E
	INNER JOIN [dbo].[Classes] AS C ON C.Id = E.ClassId
	WHERE C.ClassGuid = @ClassGuid;
	
	-- Check class student enroll capacity
	IF (@EnrolledStudent < @MaximumCapacity)
	BEGIN
		SELECT 1 AS EnrollAccess 
	END
	ELSE
	BEGIN
		SELECT 0 AS EnrollAccess
	END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteAssignmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteAssignmentsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[Assignments] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteClassesById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteClassesById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[Classes] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteStudentEnrollmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteStudentEnrollmentsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[StudentEnrollments] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteStudentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteStudentsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[Students] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSubjectsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteSubjectsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[Subjects] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSubmissionsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteSubmissionsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[Submissions] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteTeacherEnrollmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteTeacherEnrollmentsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[TeacherEnrollments] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteTeachersById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteTeachersById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM [dbo].[Teachers] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllActiveClasses]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllActiveClasses] 
	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT *, S.Name AS SubjectName
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[Subjects] AS S ON S.Id = C.SubjectId
	WHERE C.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllAssignmentByClassGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllAssignmentByClassGuid]
	@ClassGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	-- find total submission of each assignment
	SELECT AssignmentId, COUNT(*) AS TotalSubmissions
	INTO #TempSubmission
	FROM [dbo].[Submissions]
	GROUP BY AssignmentId;

    SELECT A.*, S.TotalSubmissions
	FROM [dbo].[Assignments] AS A
	INNER JOIN [dbo].[Classes] AS C ON C.Id = A.ClassId
	LEFT JOIN #TempSubmission AS S ON S.AssignmentId = A.Id
	WHERE C.ClassGuid = @ClassGuid AND C.IsActive = 1;

	DROP TABLE [#TempSubmission];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllAssignments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllAssignments]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Assignments];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllAssignmentsInfo]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllAssignmentsInfo] 
AS
BEGIN
	SET NOCOUNT ON;

    SELECT C.ClassName, C.Section, A.Title, A.Marks, A.Deadline, A.AssignmentGuid
	FROM [dbo].[Assignments] AS A
	INNER JOIN [dbo].[Classes] AS C ON C.Id = A.ClassId

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllAvailableClassesForAStudent]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllAvailableClassesForAStudent] 
	@StudentGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	-- Store total enrollment for each class in temporary table
	SELECT ClassId, COUNT(*) AS TotalEnrolled
	INTO #ClassEnrollment
	FROM [dbo].[StudentEnrollments]
	GROUP BY ClassId;

	SELECT C.ClassGuid, C.AcademicYear, C.ClassName, S.Name AS SubjectName, C.Section, C.MaxCapacity, CE.TotalEnrolled
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[Subjects] AS S ON S.Id = C.SubjectId
	LEFT JOIN #ClassEnrollment AS CE ON CE.ClassId = C.Id
	WHERE C.IsActive = 1 AND NOT EXISTS 
	(
		SELECT 1
		FROM [dbo].[StudentEnrollments] AS E
		INNER JOIN [dbo].[Students] AS ST ON ST.Id = E.StudentId
		WHERE E.ClassId = C.Id AND ST.StudentGuid = @StudentGuid
	);

	DROP TABLE #ClassEnrollment;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllAvailableClassesForATeacher]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllAvailableClassesForATeacher] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT C.*, S.Name AS SubjectName
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[Subjects] AS S ON S.Id = C.SubjectId
	WHERE C.IsActive = 1 AND NOT EXISTS 
	(
		SELECT 1
		FROM [dbo].[TeacherEnrollments] AS E
		WHERE E.ClassId = C.Id
	);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllClasses]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllClasses]
AS
BEGIN
	SET NOCOUNT ON;

	-- Store total enrollment for each class in temporary table
	SELECT ClassId, COUNT(*) AS TotalEnrolled
	INTO #ClassEnrollment
	FROM [dbo].[StudentEnrollments]
	GROUP BY ClassId;

	SELECT C.ClassGuid, C.AcademicYear, C.ClassName, S.Name AS SubjectName, C.Section, C.MaxCapacity, E.TotalEnrolled, C.IsActive 
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[Subjects] AS S ON C.SubjectId = S.Id
	LEFT JOIN #ClassEnrollment AS E ON E.ClassId = C.Id;

	DROP TABLE #ClassEnrollment;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllStudentEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllStudentEnrollments]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[StudentEnrollments];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllStudents]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllStudents]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Students];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllSubjects]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllSubjects]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Subjects];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllSubmissions]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllSubmissions]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Submissions];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllSubmissionsByAssignmentGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllSubmissionsByAssignmentGuid]
	@AssignmentGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	-- Get All Enrolled Students Submission File --
	SELECT S.StudentCode, S.FullName, SU.[FileName], SU.FilePath, SU.Marks, SU.Feedback, SU.SubmissionGuid
	FROM [dbo].[Assignments]  AS A
	INNER JOIN [dbo].[StudentEnrollments] AS SE ON SE.ClassId = A.ClassId
	INNER JOIN [dbo].[Students] AS S ON S.Id = SE.Id
	LEFT JOIN [dbo].[Submissions] AS SU ON SU.StudentId = S.Id AND SU.AssignmentId = A.Id
	WHERE A.AssignmentGuid = @AssignmentGuid;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllTeacherEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllTeacherEnrollments]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[TeacherEnrollments];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllTeachers]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllTeachers]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Teachers];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAssignmentByAssignmentGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAssignmentByAssignmentGuid] 
	@AssignmentGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Assignments] WHERE AssignmentGuid = @AssignmentGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAssignmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAssignmentsById]
	@Id BIGINT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Assignments] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAStudentAllEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAStudentAllEnrollments] 
	@StudentGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	-- Store total enrollment for each class in temporary table
	SELECT DISTINCT ClassId, COUNT(*) OVER (PARTITION BY ClassId) AS TotalEnrolled
	INTO #ClassEnrollment
	FROM [dbo].[StudentEnrollments];

	-- Get student's enrolled classes
    SELECT C.ClassGuid, C.AcademicYear, C.ClassName, SU.Name AS SubjectName, C.Section, C.MaxCapacity, CE.TotalEnrolled
	FROM [dbo].[StudentEnrollments] AS E
	INNER JOIN [dbo].[Students] AS S ON S.Id = E.StudentId
	INNER JOIN [dbo].[Classes] AS C ON C.Id = E.ClassId
	INNER JOIN [dbo].[Subjects] AS SU ON SU.Id = C.SubjectId
	INNER JOIN #ClassEnrollment AS CE ON CE.ClassId = E.ClassId
	WHERE S.StudentGuid = @StudentGuid AND C.IsActive = 1;

	-- Delete temporary table
	DROP TABLE #ClassEnrollment;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAStudentAssignmentMark]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAStudentAssignmentMark]
	@AssignmentGuid UNIQUEIDENTIFIER,
	@AspNetUserId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

    SELECT SU.Marks, SU.Feedback
	FROM [dbo].[Submissions] AS SU
	INNER JOIN [dbo].[Assignments] AS A ON A.Id = SU.AssignmentId
	INNER JOIN [dbo].[Students] AS S ON S.Id = SU.StudentId
	WHERE S.AspNetUserId = @AspNetUserId AND A.AssignmentGuid = @AssignmentGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetATeacherAllEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetATeacherAllEnrollments] 
	@TeacherGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT C.*, S.Name AS SubjectName
	FROM [dbo].[TeacherEnrollments] AS E
	INNER JOIN [dbo].[Teachers] AS T ON T.Id = E.TeacherId
	INNER JOIN [dbo].[Classes] AS C ON C.Id = E.ClassId
	INNER JOIN [dbo].[Subjects] AS S ON S.Id = C.SubjectId
	WHERE T.TeacherGuid = @TeacherGuid AND C.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetClassesByClassGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetClassesByClassGuid]
	@ClassGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	SELECT C.*, S.Name AS SubjectName
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[Subjects] AS S ON S.Id = C.SubjectId
	WHERE C.ClassGuid = @ClassGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetClassesById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetClassesById]
	@Id BIGINT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT C.*, S.Name AS SubjectName
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[Subjects] AS S ON S.Id = C.SubjectId
	WHERE C.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEnrolledClassesByStudentGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEnrolledClassesByStudentGuid] 
	@StudentGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	-- Find total enrolled students of each class
	SELECT ClassId, COUNT(*) AS TotalEnrolled
	INTO #ClassEnrollment
	FROM [dbo].[StudentEnrollments]
	GROUP BY ClassId

	-- Find total assignment assigned of each class
	SELECT ClassId, COUNT(*) AS TotalAssignment
	INTO #AssignAssignment
	FROM [dbo].[Assignments]
	WHERE IsPublish = 1
	GROUP BY ClassId

    SELECT C.ClassName, SU.Name AS SubjectName, C.Section, CE.TotalEnrolled, AA.TotalAssignment, C.ClassGuid
	FROM [dbo].[Students] AS S
	INNER JOIN [dbo].[StudentEnrollments] AS SE ON SE.StudentId = S.Id
	INNER JOIN [dbo].[Classes] AS C ON C.Id = SE.ClassId
	INNER JOIN [dbo].[Subjects] AS SU ON SU.Id = C.SubjectId
	LEFT JOIN #ClassEnrollment AS CE ON CE.ClassId = C.Id
	LEFT JOIN #AssignAssignment AS AA ON AA.ClassId = C.Id
	WHERE S.StudentGuid = @StudentGuid;

	DROP TABLE #ClassEnrollment;
	DROP TABLE #AssignAssignment;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEnrolledClassesByTeacherGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEnrolledClassesByTeacherGuid] 
	@TeacherGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	-- Find total enrolled students of each class
	SELECT ClassId, COUNT(*) AS TotalEnrolled
	INTO #ClassEnrollment
	FROM [dbo].[StudentEnrollments]
	GROUP BY ClassId

	-- Find total assignment assigned of each class
	SELECT ClassId, COUNT(*) AS TotalAssignment
	INTO #AssignAssignment
	FROM [dbo].[Assignments]
	GROUP BY ClassId

    SELECT C.ClassName, SU.Name AS SubjectName, C.Section, CE.TotalEnrolled, AA.TotalAssignment, C.ClassGuid
	FROM [dbo].[Teachers] AS T
	INNER JOIN [dbo].[TeacherEnrollments] AS TE ON TE.TeacherId = T.Id
	INNER JOIN [dbo].[Classes] AS C ON C.Id = TE.ClassId
	INNER JOIN [dbo].[Subjects] AS SU ON SU.Id = C.SubjectId
	LEFT JOIN #ClassEnrollment AS CE ON CE.ClassId = C.Id
	LEFT JOIN #AssignAssignment AS AA ON AA.ClassId = C.Id
	WHERE T.TeacherGuid = @TeacherGuid;

	DROP TABLE #ClassEnrollment;
	DROP TABLE #AssignAssignment;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEnrolledStudentsByClassGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEnrolledStudentsByClassGuid]
	@ClassGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

    SELECT S.*
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[StudentEnrollments] AS SE ON SE.ClassId = C.Id
	INNER JOIN [dbo].[Students] AS S ON S.Id = SE.StudentId
	WHERE C.ClassGuid = @ClassGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEnrolledStudentsEmailByClassGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEnrolledStudentsEmailByClassGuid]
	@ClassGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

    SELECT U.Email As EmailAddress
	FROM [dbo].[StudentEnrollments] AS SE
	INNER JOIN [dbo].[Classes] AS C ON C.Id = SE.ClassId
	INNER JOIN [dbo].[Students] AS S ON S.Id = SE.StudentId
	INNER JOIN [dbo].[AspNetUsers] AS U ON U.Id = S.AspNetUserId
	WHERE C.ClassGuid = @ClassGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEnrolledTeacherByClassGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetEnrolledTeacherByClassGuid] 
	@ClassGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT T.FullName, T.Department, T.Gender
	FROM [dbo].[Classes] AS C
	INNER JOIN [dbo].[TeacherEnrollments] AS TE ON TE.ClassId = C.Id
	INNER JOIN [dbo].[Teachers] AS T ON T.Id = TE.TeacherId
	WHERE C.ClassGuid = @ClassGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentByAspNetUserId]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetStudentByAspNetUserId] 
	@AspNetUserId NVARCHAR(450)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT S.*, U.Email AS EmailAddress 
	FROM [dbo].[Students] AS S
	INNER JOIN [dbo].[AspNetUsers] AS U ON U.Id = S.AspNetUserId
	WHERE AspNetUserId = @AspNetUserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentEnrollClassDetailsByEnrollmentId]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetStudentEnrollClassDetailsByEnrollmentId]
	@EnrollmentId BIGINT
AS
BEGIN
	SET NOCOUNT ON;

    -- Store total enrollment for each class in temporary table
	SELECT ClassId, COUNT(*) AS TotalEnrolled
	INTO #ClassEnrollment
	FROM [dbo].[StudentEnrollments]
	GROUP BY ClassId;

	SELECT C.ClassGuid, C.AcademicYear, C.ClassName, S.Name AS SubjectName, C.Section, C.MaxCapacity, CE.TotalEnrolled 
	FROM [dbo].[StudentEnrollments] AS E
	INNER JOIN [dbo].[Classes] AS C ON C.Id = E.ClassId
	INNER JOIN [dbo].[Subjects] AS S ON S.Id = C.SubjectId
	INNER JOIN #ClassEnrollment AS CE ON CE.ClassId = C.Id
	WHERE E.Id = @EnrollmentId;

	DROP TABLE #ClassEnrollment;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentEnrollmentByClassAndStudent]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_GetStudentEnrollmentByClassAndStudent] 
	@ClassGuid uniqueidentifier,
	@StudentGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT E.*
	FROM [dbo].[StudentEnrollments] AS E
	INNER JOIN [dbo].[Classes] AS C ON C.Id = E.ClassId
	INNER JOIN [dbo].[Students] AS S ON S.Id = E.StudentId
	WHERE E.IsActive = 1 AND C.ClassGuid = @ClassGuid AND S.StudentGuid = @StudentGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentEnrollmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetStudentEnrollmentsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[StudentEnrollments] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetStudentsById]
	@StudentGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Students] WHERE StudentGuid = @StudentGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSubjectsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetSubjectsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Subjects] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSubmissionBySubmissionGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetSubmissionBySubmissionGuid] 
	@SubmissionGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Submissions] WHERE SubmissionGuid = @SubmissionGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSubmissionsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetSubmissionsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Submissions] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSubmissionsByStudentAspNetUserId]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetSubmissionsByStudentAspNetUserId] 
	@AspNetUserId NVARCHAR(450)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT SU.*, S.AspNetUserId
	FROM [dbo].[AspNetUsers] AS U
	INNER JOIN [Students] AS S ON S.AspNetUserId = U.Id
	INNER JOIN [Submissions] AS SU ON SU.StudentId = S.Id
	WHERE U.Id = @AspNetUserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTeacherByAspNetUserId]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetTeacherByAspNetUserId] 
	@AspNetUserId NVARCHAR(450)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT * FROM [dbo].[Teachers] WHERE AspNetUserId = @AspNetUserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTeacherEnrollmentByClassAndTeacher]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_GetTeacherEnrollmentByClassAndTeacher] 
	@ClassGuid uniqueidentifier,
	@TeacherGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT E.*
	FROM [dbo].[TeacherEnrollments] AS E
	INNER JOIN [dbo].[Classes] AS C ON C.Id = E.ClassId
	INNER JOIN [dbo].[Teachers] AS T ON T.Id = E.TeacherId
	WHERE E.IsActive = 1 AND C.ClassGuid = @ClassGuid AND T.TeacherGuid = @TeacherGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTeacherEnrollmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetTeacherEnrollmentsById]
	@Id bigint
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[TeacherEnrollments] WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTeachersById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetTeachersById]
	@TeacherGuid uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[Teachers] WHERE TeacherGuid = @TeacherGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertAssignments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertAssignments]
	@ClassId bigint,
	@Title nvarchar(200),
	@Description nvarchar(max),
	@FilePath nvarchar(500),
	@Marks int,
	@Deadline datetime,
	@IsPublish bit,
	@CreatedDate datetime,
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Assignments](ClassId, Title, [Description], FilePath, Marks, Deadline, IsPublish, AssignmentGuid, CreatedDate, IsActive)
	VALUES(@ClassId, @Title, @Description, @FilePath, @Marks, @Deadline, @IsPublish, NEWID(), @CreatedDate, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertClasses]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertClasses]
	@ClassName nvarchar(100),
	@SubjectId bigint,
	@Section nvarchar(10),
	@AcademicYear nvarchar(10),
	@MaxCapacity int,
	@ClassGuid uniqueidentifier,
	@CreatedDate datetime,
	@CreatedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Classes](ClassName, SubjectId, Section, AcademicYear, MaxCapacity, ClassGuid, CreatedDate, CreatedBy, IsActive)
	VALUES(@ClassName, @SubjectId, @Section, @AcademicYear, @MaxCapacity, @ClassGuid, @CreatedDate, @CreatedBy, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertStudentEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertStudentEnrollments]
	@StudentId bigint,
	@ClassId bigint,
	@CreatedDate datetime,
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[StudentEnrollments](StudentId, ClassId, CreatedDate, IsActive)
	VALUES(@StudentId, @ClassId, @CreatedDate, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertStudents]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertStudents]
	@AspNetUserId nvarchar(450),
	@StudentCode nvarchar(30),
	@FullName nvarchar(150),
	@Gender nvarchar(10),
	@StudentGuid uniqueidentifier,
	@CreatedDate datetime,
	@CreatedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Students](AspNetUserId, StudentCode, FullName, Gender, StudentGuid, CreatedDate, CreatedBy, IsActive)
	VALUES(@AspNetUserId, @StudentCode, @FullName, @Gender, @StudentGuid, @CreatedDate, @CreatedBy, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertSubjects]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertSubjects]
	@Name nvarchar(100),
	@CreatedDate datetime,
	@CreatedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Subjects](Name, CreatedDate, CreatedBy, IsActive)
	VALUES(@Name, @CreatedDate, @CreatedBy, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertSubmissions]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertSubmissions]
	@AssignmentId bigint,
	@StudentId bigint,
	@FileName nvarchar(255),
	@FilePath nvarchar(500),
	@SubmissionGuid uniqueidentifier,
	@CreatedDate datetime,
	@CreatedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Submissions](AssignmentId, StudentId, [FileName], FilePath, SubmissionGuid, CreatedDate, CreatedBy, IsActive)
	VALUES(@AssignmentId, @StudentId, @FileName, @FilePath, @SubmissionGuid, @CreatedDate, @CreatedBy, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTeacherEnrollments]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertTeacherEnrollments]
	@TeacherId bigint,
	@ClassId bigint,
	@CreatedDate datetime,
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[TeacherEnrollments](TeacherId, ClassId, CreatedDate, IsActive)
	VALUES(@TeacherId, @ClassId, @CreatedDate, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTeachers]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InsertTeachers]
	@AspNetUserId nvarchar(450),
	@FullName nvarchar(150),
	@Gender nvarchar(10),
	@Department nvarchar(50),
	@ProfileImage nvarchar(400),
	@TeacherGuid uniqueidentifier,
	@CreatedDate datetime,
	@CreatedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Teachers](AspNetUserId, FullName, Gender, Department, ProfileImage, TeacherGuid, CreatedDate, CreatedBy, IsActive)
	VALUES(@AspNetUserId, @FullName, @Gender, @Department, @ProfileImage, @TeacherGuid, @CreatedDate, @CreatedBy, @IsActive);

	SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveSubmissionMarkBySubmissionGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_SaveSubmissionMarkBySubmissionGuid] 
	@Marks DECIMAL(5,2),
	@Feedback NVARCHAR(MAX),
	@ModifiedDate DATETIME,
	@ModifiedBy NVARCHAR(450),
	@SubmissionGuid UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

    UPDATE [dbo].[Submissions]
	SET Marks = @Marks, Feedback = @Feedback, ModifiedDate = @ModifiedDate, ModifiedBy = @ModifiedBy
	WHERE SubmissionGuid = @SubmissionGuid
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateAssignmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateAssignmentsById]
	@Id bigint,
	@Title nvarchar(200),
	@Description nvarchar(max),
	@FilePath nvarchar(500),
	@Marks int,
	@Deadline datetime,
	@IsPublish int,
	@ModifiedDate datetime
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[Assignments] 
	SET 
		Title = @Title, 
		[Description] = @Description,
		FilePath = @FilePath,
		Marks = @Marks, 
		Deadline = @Deadline, 
		IsPublish = @IsPublish, 
		ModifiedDate = @ModifiedDate
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateClassesById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateClassesById]
	@Id bigint,
	@ClassName nvarchar(100),
	@SubjectId bigint,
	@Section nvarchar(10),
	@AcademicYear nvarchar(10),
	@MaxCapacity int,
	@ClassGuid uniqueidentifier,
	@ModifiedDate datetime,
	@ModifiedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[Classes] SET ClassName = @ClassName, SubjectId = @SubjectId, Section = @Section, AcademicYear = @AcademicYear, MaxCapacity = @MaxCapacity, ClassGuid = @ClassGuid, ModifiedDate = @ModifiedDate, ModifiedBy = @ModifiedBy, IsActive = @IsActive
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateStudentEnrollmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateStudentEnrollmentsById]
	@Id bigint,
	@StudentId bigint,
	@ClassId bigint,
	@ModifiedDate datetime,
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[StudentEnrollments] SET StudentId = @StudentId, ClassId = @ClassId, ModifiedDate = @ModifiedDate, IsActive = @IsActive
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateStudentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateStudentsById]
	@Id bigint,
	@AspNetUserId nvarchar(450),
	@StudentCode nvarchar(30),
	@FullName nvarchar(150),
	@Gender nvarchar(10),
	@StudentGuid uniqueidentifier,
	@ModifiedDate datetime,
	@ModifiedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[Students] SET AspNetUserId = @AspNetUserId, StudentCode = @StudentCode, FullName = @FullName, Gender = @Gender, StudentGuid = @StudentGuid, ModifiedDate = @ModifiedDate, ModifiedBy = @ModifiedBy, IsActive = @IsActive
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSubjectsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateSubjectsById]
	@Id bigint,
	@Name nvarchar(100),
	@ModifiedDate datetime,
	@ModifiedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[Subjects] SET Name = @Name, ModifiedDate = @ModifiedDate, ModifiedBy = @ModifiedBy, IsActive = @IsActive
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSubmissionsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateSubmissionsById]
	@Id bigint,
	@AssignmentId bigint,
	@StudentId bigint,
	@FileName nvarchar(255),
	@FilePath nvarchar(500),
	@Marks decimal,
	@Feedback nvarchar(max),
	@SubmissionGuid uniqueidentifier,
	@ModifiedDate datetime,
	@ModifiedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[Submissions] SET AssignmentId = @AssignmentId, StudentId = @StudentId, FileName = @FileName, FilePath = @FilePath, Marks = @Marks, Feedback = @Feedback, SubmissionGuid = @SubmissionGuid, ModifiedDate = @ModifiedDate, ModifiedBy = @ModifiedBy, IsActive = @IsActive
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSubmissionsBySubmissionGuid]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateSubmissionsBySubmissionGuid]
	@FileName nvarchar(255),
	@FilePath nvarchar(500),
	@SubmissionGuid uniqueidentifier,
	@ModifiedDate datetime,
	@ModifiedBy nvarchar(450)
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[Submissions] SET [FileName] = @FileName, FilePath = @FilePath, ModifiedDate = @ModifiedDate, ModifiedBy = @ModifiedBy
	WHERE SubmissionGuid = @SubmissionGuid;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateTeacherEnrollmentsById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateTeacherEnrollmentsById]
	@Id bigint,
	@TeacherId bigint,
	@ClassId bigint,
	@ModifiedDate datetime,
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[TeacherEnrollments] SET TeacherId = @TeacherId, ClassId = @ClassId, ModifiedDate = @ModifiedDate, IsActive = @IsActive
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateTeachersById]    Script Date: 9/22/2026 8:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateTeachersById]
	@Id bigint,
	@AspNetUserId nvarchar(450),
	@FullName nvarchar(150),
	@Gender nvarchar(10),
	@Department nvarchar(50),
	@ProfileImage nvarchar(400),
	@TeacherGuid uniqueidentifier,
	@ModifiedDate datetime,
	@ModifiedBy nvarchar(450),
	@IsActive bit
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [dbo].[Teachers] SET AspNetUserId = @AspNetUserId, FullName = @FullName, Gender = @Gender, Department = @Department, ProfileImage = @ProfileImage, TeacherGuid = @TeacherGuid, ModifiedDate = @ModifiedDate, ModifiedBy = @ModifiedBy, IsActive = @IsActive
	WHERE Id = @Id;
END
GO
USE [master]
GO
